p{
    text-align: center;
}

.normal{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.destacado{
    background-color: #b4dd1e;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
}